 body {
    background-color: #f4f6fb;
    font-family: Arial, sans-serif;
}


.navbar-custom {
    background-color: #0b2a63; 
    padding: 15px 40px;
}
.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.logo span {
    color: #4ab0ff;
}
.titulo {
    color: #1e3a8a;
    font-weight: bold;
}

.card-custom {
    background: white;
    padding: 40px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

h2 {
    color: #0b2a63;
}

.btn-primary-custom {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #0b2a63, #1f4fa3);
    color: white;
    font-weight: bold;
}

.btn-secondary-custom {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #0b2a63;
    background: white;
    color: #0b2a63;
}
.form-control:focus {
    border-color: #0b2a63;
    box-shadow: 0 0 5px rgba(11,42,99,0.3);
}