 body {
    background-color: #f4f6fb;
    font-family: Arial, sans-serif;
}


.container-fluid {
    background-color: #000291;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: auto;
}
.logo {
    color: #f2f2f2;
    font-size: 2em;
}
.mx {
    color: #4ABEEF;
}
.titulo {
    color: #1e3a8a;
    font-weight: bold;
}

.card-custom {
    background: white;
    padding: 40px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

h2 {
    color: #0b2a63;
}

.btn-primary-custom {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #0b2a63, #1f4fa3);
    color: white;
    font-weight: bold;
}

.btn-secondary-custom {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #0b2a63;
    background: white;
    color: #0b2a63;
}
.form-control:focus {
    border-color: #0b2a63;
    box-shadow: 0 0 5px rgba(11,42,99,0.3);
}