/* Ajustes para la tabla  */
.tabla-contenedor {
    padding: 0 !important; /* Para que la tabla llegue al borde de la tarjeta */
    overflow: hidden;
    border: none;
}
.tabla-vapp {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}
/* Encabezado de la tabla  */
.tabla-vapp thead th {
    background-color: #7294c0;
    color: #000291;
    text-align: center;
    padding: 1.2em .5em;
    border: 1px solid #000291;
    font-size: 0.85em;
    font-weight: bold;
    text-transform: uppercase;
}
/* Celdas de la tabla */
.tabla-vapp td {
    border: 1px solid #000291;
    height: 45px;
    transition: background-color 0.3s ease;
}
.tabla-vapp tbody tr:hover td {
    background-color: #f2f2f2;
}
/* La columna lateral  */
.col-azul-claro {
    background-color: #9dbcd4 !important;
    width: 60px;
}
/* botones  */
.sidebar-botones .btn-iniciarsesion {
    margin: 1em auto;
    width: 90%;
}
/* fondo blanco */
.nav-tabs {
    border-bottom: none !important;
}
.nav-link.active {
    background-color: #4ABEEF !important;
    color: #000291 !important;
    border: none !important;
}