*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}

header {
    width: 100%;
    height: 4em;
    background-color: #000291;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    
}
.navbar {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.btn-nav {
    width: 20%; 
    height: 50%;
    border-radius: .5em;  
    color: aliceblue; 
    text-decoration: none; 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    margin: 1em; 
}
.btn-nav:hover {
    background-color: aliceblue;
    color: black;
}

main {
    width: 100%;
    height: calc(100vh - 4em);
    background-color: #f2f2f2
}

footer {
    width: 100%;
    height: 4em;
    background-color: aquamarine;
}
