/* Navbar */
.container-fluid {
    background-color: #000291;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: auto;
}
.logo {
    color: #f2f2f2;
    font-size: 2em;
}
.mx {
    color: #4ABEEF;
}
.nav-link {
    color: #f2f2f2;
}

/* --- 3. TÍTULOS Y CABECERAS --- */
.titulo-notificaciones {
    margin-bottom: 3rem;
}

.titulo-notificaciones h1 {
    color: #000291; 
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Adorno decorativo debajo del título */
.titulo-notificaciones::after {
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background-color: #4ABEEF; 
    margin: 10px auto 0;
    border-radius: 10px;
}

/* --- 4. TARJETAS DE NOTIFICACIÓN (CARDS) --- */
.card-notificacion {
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border: none;
    transition: transform 0.2s ease;
}

.card-notificacion:hover {
    transform: translateY(-3px); /* Efecto de levante */
}

/* Encabezado de la tarjeta */
.card-header-vapp {
    background-color: #dce1f2;
    padding: 15px 25px;
    color: #000291; 
    font-weight: 600;
    font-size: 1.1rem;
    border-bottom: 1