  /* ===== Fondo general ===== */
body {
    background: linear-gradient(135deg, #000291, #0163FA);
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ===== Navbar personalizada ===== */
.navbar {
    .container-fluid {
    background-color: #000291;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: #f2f2f2;
    font-size: 2em;
}
.mx {
    color: #4ABEEF;
}
.nav-link {
    color: #f2f2f2;
}
}


.navbar-brand {
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-link {
    transition: 0.3s ease;
}

.nav-link:hover {
    color: #E7E8F2 !important;
    transform: translateY(-2px);
}

/* ===== Tarjeta moderna ===== */
.card {
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.6s ease-in-out;
}

.card-body {
    background-color: white;
    border-radius: 20px;
}

/* ===== Título ===== */
h3 {
    font-weight: 700;
    color: #000291;
}

/* ===== Inputs ===== */
.form-control {
    border-radius: 12px;
    padding: 12px;
    border: 1px solid #dcdcdc;
    transition: all 0.3s ease;
}

.form-control:focus {
    border-color: #0163FA;
    box-shadow: 0 0 10px rgba(1, 99, 250, 0.4);
}

/* ===== Botón principal ===== */
.btn-primary {
    background: linear-gradient(135deg, #0163FA, #000291);
    border: none;
    border-radius: 12px;
    transition: 0.3s ease;
}

.btn-primary:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* ===== Animación suave ===== */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}